/* CSS = HOJA DE ESTILO EN CASCADA*/

*{
    margin: 0px; /*EL margen es automatico, es decir, que se ajuste automaticamnete
    el margen es el espacio fuera del contenedor*/
    padding: 0px;/*padding: 10px; relleno del contenedor*/
}


h1{
    font-size:25px; /* Tamaño especifico de la fuente, en este caso, del titulo */
    font-family: sans-serif; /* Tipo de fuente que utilizaremos */
    font-weight: bold; /* Para definir el peso, es decir, una fuente mas resaltada o ligera*/
}

h2{
    font: bold 20px sans-serif; /* Esta es una forma de usar el font de forma generica*/
}

header, section, footer, aside, nav, article{
    /*border: 1px solid black; Para agregar un borde a los elementos*/ 
    
    display: block; /*Es para asegurarse que todos los elementos sean en bloque
     y que esten uno abajo del otro*/
}

body{
    text-align: center; /*Para alinear al texto*/
}

.contenedor{
    width: 960px; /*Ancho del contenedor*/
    border: 5px solid black;
    margin: 15px auto; /* AUTOMATICO, PARA QUE EL MARGEN SEA AUTOMATICO TANTO PARA LA IZQUIERDA Y
    LA DERECHA*/
}

.cabecera{
    background:#093145;
    border: 3px solid black;
    padding: 20px;
}

.menu{
    background: #2ecc71;
    padding: 5px 15px;
}

.menu li{ /* Afecta a los elemeintos li que esten dentro del elemento menu*/
    list-style: none; /*Para quitar estilo de listas definidos por html*/
    padding: 5px; 
    font: bold 14px verdana;
    display: inline-block; /*Que los bloques esten alineados uno al lado del otro*/
}

.seccion{
    margin: 20px;
    width: 600px;
    float: left; /*QUE FLOTE HACIA LA IZQUIERDA*/
}

article{
    background-color:rgb(245, 90, 90);
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}

article h1, h2, p{
    padding: 10px;
}

article img{
    width: 260px;
    height: 240px;
    display: block;
    margin: 20px auto;
}

article footer{
    text-align: right;
    margin: 15px;
}

article time{
    margin: 10px;
    font: bold 13px verdana;
}

.aside{
    margin: 20px;
    width: 270px;
    float: left;
}

.aside blockquote{
    border: 1px solid black;
    padding: 25px;
    background-color:rgb(245, 90, 90);
    margin-bottom: 20px;
}

.footer{
    clear: both;/* EL CONTENIDO ANTERIOR DEL FOOTER VUELVAN A LA NORMALIAD, ES DECIR, QUE QUITE LA PROPIEDAD DE FLOTAR*/
    background: #093145;
    color: #ffffff;
}