
/* SECTION HEADER */

body {
    background-color: #061932;
}

@media screen and (max-width:767px) {
    .navbar .navbar-collapse .navbar-nav {
        max-height: 0; /* 
        I use this property so that its container measures 0 wide. */
        overflow: hidden; /* I use this property so that the content that stands out because it is in a width of 0 is completely hidden and does not overlap the content. */
        transition: max-height 0.9s; /* when I click on the hamburger, the width expands, so the hidden stops hiding the content, it no longer has to hide anything */
    }
    
    .navbar .navbar-collapse.show .navbar-nav {
        max-height: 300px;
    }
}

/* 
the logo disappears in cell size 
*/
.navbar .container-fluid .collapse .navbar-brand {
    display: none;
}


.navbar .container-fluid > img {
    height: 56px;
    filter: drop-shadow(2px 4px 6px white);
}

.navbar .container-fluid .collapse .navbar-brand img{
    filter: drop-shadow(2px 4px 6px white);
}


/* The logo that is in mobile mode disappears so that the logo that is in desktop mode appears */

@media screen and (min-width: 768px) {
    .navbar .container-fluid > img {
        display: none;
    }
}

/* it is not necessary to position it as flex because bootstrap already places it as default */

.navbar .container-fluid .collapse .navbar-nav {
    align-items: center;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item {
    font-size: 18px;
    position: relative;
    height: 50px;
    transition: 0.7s;
}

/* applies to all li the blur */

.navbar .container-fluid .collapse .navbar-nav:hover .nav-item {
    filter: blur(1px);
}

/* with the hover I indicate that the one you select does not have a blur */

.navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
    filter: blur(0);
    cursor: pointer;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #C1CDEE;
    font-family: 'Noto Sans Display', sans-serif;
    letter-spacing: 3px;
}

/* an extra element is created that will allow me to decorate each link */
.navbar .container-fluid .collapse .navbar-nav .nav-item::after { 
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 0;
    height: 5px;
    background-color: #67748F;
    transition: width 0.3s;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item:hover::after {
    width: 100%;

}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .navbar .container-fluid .collapse .navbar-brand {
        display: block;
    }

    /* the logo of the links is separated */
    .navbar .container-fluid .collapse {
        display: flex;
        justify-content: space-between;
    }

    .navbar .container-fluid .collapse .navbar-brand img {
        height: 70px;
    }
}

/* SECTION MAIN > HOME */

.main {
    background-color: #061932;
}

@media screen and (max-width:992px) {
    main {
        min-height: 80vh;
    }
}

.home .home-contentMain {
    min-height: 550px;
    display: grid;
    grid-template-rows: 1fr 300px;
    align-items: center;
    text-align: center;
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .home .home-contentMain {
        min-height: 700px;
    }
}

@media screen and (min-width:1200px) {
    .home .home-contentMain {
        min-height: 750px;
    }
}

.home .home-contentMain .home-contentTitle {
    color: #67748F;
    align-self: center;
}


/* breakpoints 768px */
@media screen and (min-width:768px) {
    .home .home-contentMain .home-contentTitle {
        width: 82%;
        margin: 0 auto;
        align-self: end;
        padding-bottom: 20px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .home .home-contentMain .home-contentTitle {
        width: 730px;
        align-self: center;
        padding-bottom: 0;
    }
}


/* Title section home */

.home .home-contentMain .home-contentTitle .home-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px;
    word-spacing: 8px;
}

@media screen and (min-width:550px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 25px;
    }
}

@media screen and (min-width:768px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 30px;
    }
}

@media screen and (min-width:992px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 40px;
    }
}


.home .home-contentMain .home-contentTitle .home-title .title-span {
    color: #C1CDEE;
}

/* Social networks */
.home .home-contentMain .home-containerNetworks {
    display: grid;
    gap: 15px;
    justify-content: center;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {

    /* Social networks */
    .home .home-contentMain .home-containerNetworks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }

    .home .home-contentMain .home-containerNetworks a {
        width: min-content;
        /* reduces all leftover space and only occupies its content, similar to inline */
        margin: 0 auto;
    }

}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .home .home-contentMain .home-containerNetworks {
        width: 500px;
        margin: 0 auto;
    }
}

.home .home-contentMain .home-containerNetworks a svg {
    width: 50px;
    height: 80px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .home .home-contentMain .home-containerNetworks a svg {
        width: 70px;
        height: 80px;
    }
}

@media screen and (min-width:992px) {
    .home .home-contentMain .home-containerNetworks a img {
        width: 80px;
        height: 80px;
    }
}

/* SECTION FOOTER */

/* .footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C1CDEE;
    background-color: #061932;
} */

/* SECTION ABOUT ME */

.aboutMe {
    background: rgb(33, 25, 177);
    background: linear-gradient(90deg, rgba(33, 25, 177, 1) 3%, rgba(18, 37, 184, 1) 33%, rgba(17, 89, 139, 1) 57%, rgba(19, 27, 180, 0.9248074229691877) 100%);
}

.aboutMe .aboutMe-contentMain {
    min-height: 550px;
    display: grid;
    grid-template-rows: 0.6fr 0.3fr;
    align-items: center;
    text-align: center;
    color: white;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .aboutMe .aboutMe-contentMain {
        min-height: 700px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    /* a fixed height is added to be able to have space and thus use space-evenly */
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial .aboutMe-detail {
    margin: 25px;
    margin-bottom: 0;
}

.aboutMe .aboutMe-contentMain .aboutMe-profile svg {
    height: 150px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain .aboutMe-profile svg {
        height: 200px;
    }
}

/* SECTION PROJECTS */

/* the default wallpaper disappears */
#body .main {
    background: none;
}

.projects .projects-contentMain {
    display: grid;
    justify-content: center;
    min-height: 550px;
} 

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .projects .projects-contentMain {
        display: flex;
        flex-direction: column;
    }
}

.projects .projects-contentMain .projects-containerTitle {
    text-align: center;
    height: 100px;
}

.projects .projects-contentMain .projects-containerProyect {
    display: grid;
    row-gap: 15px;
}

.projects .projects-contentMain .projects-containerProyect .icons, .card-button{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    padding: 10px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerProyect {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .projects .projects-contentMain .projects-containerProyect {
        column-gap: 0;
    }
    /* center the card */
    .projects-contentMain .projects-containerProyect .card {
        margin: 0 auto;
    } 
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    /* I shrink the container to be able to center it */
    .projects .projects-contentMain .projects-containerProyect  {
        width: 80%;
        margin: 0 auto;
    }
}

/* SECTION CONTACT */

.container-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #8d6ebb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23360a7d' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 30px;
}

.container-form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: flex-start;
    width: 100%; */
    margin-top: 10px;
    padding: 0 10px;
}

@media screen and (min-width:768px) {
    .container-form {
        flex-direction: row;
    }
}

.form div {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .form {
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    .form > div {
        width: 80%;
    }
}

.form h3{
    margin-bottom: 20px;
    text-align: center;
}

.form > div button {
    align-self: end;
}

.form input{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    font-size: 16px;
}

.form textarea {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
}

.container-form .form button{
    background-color: #2604eb;
    border-radius: 10%;
    font-size: 16px;
    width: 70px;
    height: 40px;
}


.iconos {
    /* display: flex;
    margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin: 10px auto;
}

@media screen and (min-width:768px) {
    .iconos {
        width: 40%;
        align-items: center;
        width: min-content;
    }
}

.iconos i {
    font-size: 40px;
    margin: 10px;
    color: #2604eb;
    margin-top: 35px;
}



.separador{
    background-color: #585757;
    width: 100%;
    height: 2.5px;
}

/*blog section*/

.title-blog{
    text-align: center;
}

.containerCards{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
    min-height: 550px;
}

.containerCards .card:nth-child(1){
    width: 18rem;
}

.blogButton{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

@media screen and (min-width:992px){
    .containerCards{
        flex-direction: row;
        justify-content: center;
    }

    .containerCards .card:nth-child(1){
        width: 25rem;
        margin-left: 10px;
    }

    .containerCards .card:nth-child(2){
        width: 20rem;
        margin-left: 10px;
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding-top: 15px;
    text-align: center;
    color: #C1CDEE;
    background-color: #061932;
    font-size: 20px;
}

