
body {
    background-color: #061932;
    height: 100vh;
}

.container-fluid {
    display: grid;
    grid-template-rows: min-content min-content auto min-content 77px;
    height: 100%;
}

.container-fluid main > section {
    min-height: 650px;
}

/* Section HEADER */

.header {
    padding-bottom: 5px;
}

@media screen and (min-width:768px) {
    .header {
        padding-bottom: 0;
    }
}

@media screen and (max-width:767px) {
    .navbar .navbar-collapse .navbar-nav {
        max-height: 0;
        /* I use this property so that its container measures 0 wide. */
        overflow: hidden;
        /* I use this property so that the content that stands out because it is in a width of 0 is completely hidden and does not overlap the content. */
        transition: max-height 0.9s;
        /* when I click on the hamburger, the width expands, so the hidden stops hiding the content, it no longer has to hide anything */
    }

    .navbar .navbar-collapse.show .navbar-nav {
        max-height: 300px;
    }
}

/* 
the logo disappears in cell size 
*/
.navbar .container-fluid .collapse .navbar-brand {
    display: none;
}

.navbar .container-fluid .navbar-toggler {
    box-shadow: none;
    background-color: #67748F;
}


.navbar .container-fluid .logo-mobile img {
    width: 56px;
    height: 56px;
    filter: drop-shadow(2px 4px 6px white);
}

.navbar .container-fluid .collapse .navbar-brand img {
    filter: drop-shadow(2px 4px 6px white);
    width: 90px;
    height: 70px;
}


/* The logo that is in mobile mode disappears so that the logo that is in desktop mode appears */

@media screen and (min-width: 768px) {
    .navbar .container-fluid .logo-mobile {
        display: none;
    }
}

/* it is not necessary to position it as flex because bootstrap already places it as default */

.navbar .container-fluid .collapse .navbar-nav {
    align-items: center;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item {
    font-size: 18px;
    position: relative;
    height: 50px;
    transition: 0.7s;
}

/* applies to all li the blur */

.navbar .container-fluid .collapse .navbar-nav:hover .nav-item {
    filter: blur(1px);
}

/* with the hover I indicate that the one you select does not have a blur */

.navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
    filter: blur(0);
    cursor: pointer;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #C1CDEE;
    font-family: 'Noto Sans Display', sans-serif;
    letter-spacing: 3px;
}

/* an extra element is created that will allow me to decorate each link */
.navbar .container-fluid .collapse .navbar-nav .nav-item::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 0;
    height: 5px;
    background-color: #67748F;
    transition: width 0.3s;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item:hover::after {
    width: 100%;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .navbar .container-fluid .collapse .navbar-brand {
        display: block;
    }

    /* the logo of the links is separated */
    .navbar .container-fluid .collapse {
        display: flex;
        justify-content: space-between;
    }
}

/* SECTION MAIN > HOME */

.main {
    background-color: #061932;
    height: 100%;
}

.main .home {
    height: 100%;
}

@media screen and (min-width:992px) {
    .main {
        align-self: center;
    }
    
}

.home .home-contentMain {
    display: grid;
    height: 100%;
    align-items: center;
    text-align: center;
}


.home .home-contentMain .home-contentTitle {
    color: #67748F;
    align-self: end;
}


/* breakpoints 768px */
@media screen and (min-width:768px) {
    .home .home-contentMain .home-contentTitle {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .home .home-contentMain .home-contentTitle {
        width: 730px;
        align-self: center;
        padding-bottom: 0;
    }
}


/* Title section home */
.home .home-contentMain .home-contentTitle .home-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px;
    word-spacing: 8px;
}

@media screen and (min-width:550px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 25px;
    }
}

@media screen and (min-width:768px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 30px;
    }
}

@media screen and (min-width:992px) {
    .home .home-contentMain .home-contentTitle .home-title {
        font-size: 40px;
    }
}


.home .home-contentMain .home-contentTitle .home-title .title-name {
    color: #C1CDEE;
}

.home .home-contentMain .home-contentTitle .home-title .title-portafolio {
    color: #6ddc9f;
}

/* Social networks */
.home .home-contentMain .home-containerNetworks {
    display: grid;
    gap: 15px;
    align-self: center;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {

    /* Social networks */
    .home .home-contentMain .home-containerNetworks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }

    .home .home-contentMain .home-containerNetworks a {
        width: min-content;
        /* reduces all leftover space and only occupies its content, similar to inline */
        margin: 0 auto;
    }

}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .home .home-contentMain .home-containerNetworks {
        width: 500px;
        margin: 0 auto;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .home .home-contentMain .home-containerNetworks {
        align-self: center;
    }
}

.home .home-contentMain .home-containerNetworks a svg {
    width: 50px;
    height: 80px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .home .home-contentMain .home-containerNetworks a svg {
        width: 70px;
        height: 80px;
    }
}

@media screen and (min-width:992px) {
    .home .home-contentMain .home-containerNetworks a img {
        width: 80px;
        height: 80px;
    }
}

/* Section ABOUT ME */

.aboutMe {
    height: 100%;
}

/* breakpoints 768px */
@media screen and (max-width:576px) {
    .aboutMe {
        padding-top: 30px;
    }
}

.aboutMe .aboutMe-contentMain {
    display: grid;
    height: 100%;
    align-items: center;
    color: white;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain {
        grid-template-columns: 1fr .5fr;
        grid-template-rows: 1fr;
        margin-top: 0;
    }
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription {
        display: grid;
        height: 90%;
    }
}

.aboutMe .aboutMe-contentMain .aboutMe-containerDescription h1 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    font-size: 25px;
    word-spacing: 8px;
    color: #C1CDEE;
    margin-bottom: 30px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription h1 {
        font-size: 30px;
        margin-bottom: 0;
        align-self: center;
    }
}

@media screen and (min-width:992px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription h1 {
        font-size: 40px;
        margin-bottom: 25px;
    }
}

.aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    word-spacing: 5px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial {
        align-self: start;
    }
}

/* breakpoints 768px */
@media screen and (min-width:992px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial {
        align-self: start;
        font-size: 18px;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial {
        font-size: 20px;
    }
}

.aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial .aboutMe-detail {
    margin: 10px;
    margin-bottom: 0;
}

/* breakpoints 1400px */
@media screen and (min-width:1400px) {
    .aboutMe .aboutMe-contentMain .aboutMe-containerDescription .aboutMe-contentDetial {
        text-align: initial;
        padding: 30px;
    }
}

.aboutMe .aboutMe-contentMain .aboutMe-profile {
    text-align: center;
}

/* breakpoints 576px */
@media (min-width: 576px) and (max-width: 767px) {
    .aboutMe .aboutMe-contentMain .aboutMe-profile {
        align-self: start;
    }
  }

.aboutMe .aboutMe-contentMain .aboutMe-profile svg {
    height: 150px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .aboutMe .aboutMe-contentMain .aboutMe-profile svg {
        height: 200px;
    }
}

/* SECTION PROJECTS */

#bodyProject {
    height: 100%;
}

.projects {
    padding: 30px;
}

.projects .projects-contentMain {
    display: grid;
    grid-template-rows: 150px auto;
}

.projects .projects-contentMain .projects-containerTitle {
    text-align: center;
    align-self: center;
}

.projects .projects-contentMain .projects-containerTitle .projects-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #C1CDEE;
    letter-spacing: 3px;
    word-spacing: 8px;
}



/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerTitle .projects-title {
        font-size: 30px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .projects .projects-contentMain .projects-containerTitle .projects-title {
        font-size: 40px;
    }
}


.projects .projects-contentMain .projects-containerProyect {
    display: grid;
    row-gap: 10px;
}


.projects .projects-contentMain .projects-containerProyect .card {
    padding: 10px;
    transition: all 0.2s ease-in;
}

.projects .projects-contentMain .projects-containerProyect .card:hover {
    background-color: #061932;
    color: #fff;
}


/* breakpoints 576px */
@media screen and (min-width:576px) {
    .projects .projects-contentMain .projects-containerProyect .card {
        width: 350px;
        margin: 0 auto;
    }
}


/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerProyect .card {
        width: auto;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    /*Animation cards*/
    .projects .projects-contentMain .projects-containerProyect .card {
        animation: cambio-color 3s infinite;
        position: relative;
        transition: transform 1s;
    }

    @keyframes cambio-color {
        0% {
            border: 5px solid #69bca6;
        }

        25% {
            border: 5px solid #a8b6d2;
        }

        50% {
            border: 5px solid #438f4a;
        }

        75% {
            border: 5px solid #8f436e;
        }

        100% {
            border: 5px solid #69bca6;
        }
    }

    .projects .projects-contentMain .projects-containerProyect .card:hover {
        transform: scale(1.03);
    }
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .card-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerProyect .card .card-body .card-title {
        font-size: 22px;
    }
}

.projects .projects-contentMain .projects-containerProyect .card .card-body p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerProyect .card .card-body p {
        font-size: 17px;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .projects .projects-contentMain .projects-containerProyect .card .card-body .card-title {
        font-size: 26px;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .projects .projects-contentMain .projects-containerProyect .card .card-body p {
        font-size: 20px;
    }
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .icons {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .icons i {
    line-height: normal;
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .icons i::before {
    font-size: 50px;
}


.projects .projects-contentMain .projects-containerProyect .card button a {
    color: #f7f8fa;
    text-decoration: none;
}

.projects .projects-contentMain .projects-containerProyect .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .card-text {
    margin: 0;
}

.projects .projects-contentMain .projects-containerProyect .card .card-body .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .projects .projects-contentMain .projects-containerProyect {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    /* center the card */
    .projects-contentMain .projects-containerProyect .card {
        margin: 0 auto;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    /* I shrink the container to be able to center it */
    .projects .projects-contentMain .projects-containerProyect {
        width: 80%;
        margin: 0 auto;
    }
}


/* SECTION BLOG */

#bodyBlog{
    height: 100%;
}

.blog .blog-contentMain {
    display: grid;
    grid-template-rows: 150px auto;
}

.blog .blog-contentMain .blog-containerTitle {
    text-align: center;
    align-self: center;
}

.blog .blog-contentMain .blog-containerTitle .blog-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #C1CDEE;
    letter-spacing: 3px;
    word-spacing: 8px;
}

.blog .blog-contentMain > div {
    padding: 30px;
}

.blog .blog-contentMain .carousel-inner img {
    width: 100%;
    height: 400px;
    /* Establece una altura fija para el contenedor de la imagen */
    object-fit: cover;
}

.blog .blog-contentMain .row{
    row-gap: 10px;
}

.blog .blog-contentMain .row .col .card{
    padding: 10px;
}

.blog .blog-contentMain .card img {
    width: 100%;
    height: 200px;
    /* Establece una altura fija para el contenedor de la imagen */
    border-radius: 3%;
    object-fit: cover;
}

/* breakpoints 992px */
@media screen and (min-width:992px) {

    /*Animation cards*/
    .blog .blog-contentMain .card {
        animation: cambio-color 3s infinite;
        position: relative;
        transition: transform 2s;
    }

    @keyframes cambio-color {
        0% {
            border: 5px solid #69bca6;
        }

        25% {
            border: 5px solid #a8b6d2;
        }

        50% {
            border: 5px solid #438f4a;
        }

        75% {
            border: 5px solid #8f436e;
        }

        100% {
            border: 5px solid #69bca6;
        }
    }

    .blog .blog-contentMain .card:hover {
        transform: scale(1.1);
    }
}

.blog .blog-contentMain .card {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    transition: transform 0.3s ease;
}

.blog .blog-contentMain .card:hover {
    transform: scale(1.03);
}

.blog .blog-contentMain .card .card-body .card-title {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.blog .blog-contentMain .card .card-body .card-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.containerCards .card {
    border-radius: 10px;
    box-shadow: 0 0 10px #4c39ff;
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.8s;
}

.containerCards .card:hover {
    box-shadow: 0 0 20px #1f1199, 0 0 40px #1f1199, 0 0 80px #1f1199;
    transform: scale(1.03);
}

.containerCards .card:nth-child(2) {
    width: 18em;
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .blog .blog-contentMain .blog-containerTitle .blog-title {
        font-size: 30px;
    }
}

/* breakpoints 992px */
@media screen and (min-width:992px) {
    .blog .blog-contentMain .blog-containerTitle .blog-title {
        font-size: 40px;
    }
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .blog .blog-contentMain .card .card-body .card-title {
        font-size: 22px;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .blog .blog-contentMain .card .card-body .card-title {
        font-size: 26px;
    }
}

/* breakpoints 768px */
@media screen and (min-width:768px) {
    .blog .blog-contentMain .card .card-body .card-text {
        font-size: 17px;
    }
}

/* breakpoints 1200px */
@media screen and (min-width:1200px) {
    .blog .blog-contentMain .card .card-body .card-text {
        font-size: 20px;
    }
}

/* SECTION CONTACT */

#bodyContact{
    height: 100%;
}

@media screen and (min-height:950px) {
    #bodyContact{
        height: 100vh;
    }
    
}

.mainContact {
    display: grid;
    align-items: center;
}

.mainContact .contact {
    padding-top: 30px;
}

.contact-contentMain {
    display: grid;
    grid-template-rows: 120px auto;
}

@media screen and (min-width:768px) {
    .contact-contentMain {
        grid-template-rows: 150px auto;
    }
}

.contact-contentMain .container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-contentMain .container-contact h1 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #C1CDEE;
    letter-spacing: 3px;
    word-spacing: 8px;
}

@media screen and (min-width:768px) {
    .contact-contentMain .container-contact h1{
        font-size: 30px;
    }
}

@media screen and (min-width:1200px) {
    .contact-contentMain .container-contact h1{
        font-size: 40px;
    }
}

.contact-contentMain .container-form .form h5 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: #C1CDEE;
    margin-bottom: 30px;
}

@media screen and (min-width:768px) {
    .contact-contentMain .container-form .form h5{
        font-size: 22px;
    }
}

@media screen and (min-width:1200px) {
    .contact-contentMain .container-form .form h5{
        font-size: 25px;
    }
}

.contact-contentMain .container-form {
    padding: 0 10px;
}

.contact-contentMain .container-form .form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact-contentMain .container-form .form .label {
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

@media screen and (min-width:768px) {
    .contact-contentMain .container-form .form .label {
        font-size: 18px;
    }
}

@media screen and (min-width:1200px) {
    .contact-contentMain .container-form .form .label {
        font-size: 20px;
    }
}

.contact-contentMain .container-form .form div .form-control{
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 250ms;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.contact-contentMain .container-form .form div .form-control:focus {
    outline-color: #3c50eb;
}  

@media screen and (min-width:576px) {
    .contact-contentMain .container-form .form{
        width: 530px;
    }
}


@media screen and (min-width:992px) {
    .contact-contentMain .container-form .form{
        width: 650px;
    }
}

.contact-contentMain .container-form .form .btn {
    width: 100%;
    margin-top: 20px;
}

@media screen and (min-width:992px) {
    .contact-contentMain .container-form .form .btn{
        width: 50%;
        margin: 15px auto 5px;
    }
}

.form input {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    font-size: 16px;
}

.form textarea {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

@media screen and (min-width:576px) {
    .iconos {
        margin: 25px auto;
        width: 530px;
    }
}

.iconos svg {
    font-size: 35px;
    color: #f8f8ff;
}

@media screen and (min-width:768px) {
    .iconos svg {
        font-size: 40px;
    }
}


.separador {
    background-color: #585757;
    width: 100%;
    height: 2.5px;
}

/*blog section*/
#bodyBlog{
    height: 100%;
}

.title-blog {
    text-align: center;
}

.main .blogLinks{
    min-height: auto;
}

.main .blogLinks .containerCards {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width:768px){
    .main .blogLinks .containerCards{
        justify-content: space-around;
        flex-direction: row;
    }
}

.main .blogLinks .containerCards .card:nth-child(1) {
    width: 18rem;
}

@media screen and (min-width:992px) {
    .main .blogLinks .containerCards {
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    .main .blogLinks .containerCards .card:nth-child(1) {
        width: 25rem;
        margin-left: 10px;
    }

    .main .blogLinks .containerCards .card:nth-child(2) {
        width: 20rem;
        margin-left: 10px;
    }
}

.main .blogLinks .blogButton {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

@media screen and (min-width:992px) {
    .main .blogLinks .blogButton .btn{
        width: 200px;
        height: 40px;
    }
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #C1CDEE;
    background-color: #061932;
    font-size: 18px;
    height: 100%;
    align-self: center;
}

.footer p {
    margin: 0;
}

@media screen and (max-width:767px) {
    .footer {
        font-size: 16px;
    }
}